# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.dll
*.dylib
build/
dist/
*.egg-info/
.eggs/
.venv/
venv/
.env
.python-version

# Jupyter / Colab
.ipynb_checkpoints/
*.nbconvert.ipynb

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# MkDocs (se usar depois)
site/
docs/site/
